
h2{
    color:black; font-size:90px;
    display: inline;
    cursor: pointer;
}

h1{
      color:pink; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 90px;
      cursor:pointer;
}

pre{
    color: black; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 75px;
    cursor:pointer;
}
 .one{
    background-color: black;
    display: inline-block;
    margin:125px;
    width: 1500px;
    height: 1600px;
    overflow: hidden;
    color: white;
    text-decoration:none;
    border-radius: 50px;
   
   
 }
 .two {
    background-color: black;
    display: inline-block;
    width: 1500px;
    height: 1500px;
    margin: 125px;
    overflow: hidden;
    border-radius: 50px;
    text-overflow: clip;
 }
 .three{
    background-color: black;
    display:inline-block;
    width: 1500px;
    height:1500px;
    margin: 125px;
    overflow: hidden;
    border-radius: 50px;
    text-decoration:none;
   text-overflow:ellipsis ;
 }

 input{
    width: 1500px;
    height: 95px;
    padding:44px;
    font-size: 450%;
    display: inline-block;
    border-radius: 45px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    font-weight: bolder;
   
 }
.searchbar{
   text-align:center;

   
}
.destinations{
   text-align: center;
}
p{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 500%; ;
   color: beige;
   cursor: pointer;
}
.one:hover p,.two:hover p , .three:hover p ,.four:hover p{
   background-color:whitesmoke;
   color: black;
   text-decoration: none;
}
a{
   text-decoration: none;
}
.i3{
   width: 1500px;
   height: 1000px;
   border-radius: 50px;
   overflow: hidden;
}
.four{
   background-color: black;
   display: inline-block;
   width: 1500px;
   height: 1600px;
   margin: 125px;
   overflow: hidden;
   border-radius: 50px;
}

